<div class="row">
  <div class="col-6">
    <!-- el formulario de creacion de las secciones -->
    <div class="card">
      <!--begin::Card header-->
      <div class="card-header">
        <!--begin::Card title-->
        <div class="card-title fs-3 fw-bold">Registrar Nuevo Clase</div>
        <!--end::Card title-->
      </div>
      <!--end::Card header-->

      <!--begin::Form-->
      <form id="kt_project_settings_form" class="form fv-plugins-bootstrap5 fv-plugins-framework"
        novalidate="novalidate">
        <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading | async"></span>
        <!--begin::Card body-->
        <div class="card-body p-9">
          <!--begin::Row-->
          <div class="row mb-8">
            <div class="col-10">
              <label class="fs-6 fw-semibold mt-2 mb-3">Nombre de la clase</label>
              <input type="text" class="form-control form-control-solid" [(ngModel)]="title" name="titulo"
                placeholder="Introduccion" />
            </div>


          </div>
          <!--end::Row-->

          <!--begin::Row-->
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-12">
              <div class="fs-6 fw-semibold mt-2 mb-3">Descripcion</div>
            </div>
            <!--end::Col-->

            <!--begin::Col-->
            <div class="col-12 fv-row fv-plugins-icon-container">
              <ckeditor [data]="description" (change)="onChange($event)"></ckeditor>

            </div>
            <!--begin::Col-->
          </div>
          <!--end::Row-->

          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-12">
              <label class="form-label">Sube tus recursos de la clase: *</label>
            </div>
            <!--end::Col-->

            <div class="col-5">

              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile"
                   (change)="processFile($event)" multiple />
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>


            </div>
            <div class="col-8">
              <div class="card card-flush h-xl-100">
                <!--begin::Header-->
                <div class="card-header pt-7">
                  <!--begin::Title-->
                  <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder text-dark">Lista de Archivos</span>
                    <span class="text-gray-400 mt-1 fw-bold fs-6">recurso descargables</span>
                  </h3>
                  <!--end::Title-->

                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body">
                  <!--begin::Scroll-->
                  <div class="hover-scroll-overlay-y pe-6 me-n6">
                    <ng-container *ngFor="let FILE of FILES">
                      <!--begin::Item-->
                      <div class="rounded border-gray-300 border-1 border-gray-300 border-dashed px-7 py-3 mb-6">
                        <!--begin::Info-->
                        <div class="d-flex flex-stack mb-3">
                          <!--begin::Wrapper-->
                          <div class="me-3">
                            <!--begin::Icon-->
                            <img src="assets/media/svg/files/doc.svg" class="w-50px ms-n1 me-1" alt="">
                            <!--end::Icon-->
                            <!--begin::Title-->
                            <a href="#" onclick="return false;"
                              class="text-gray-800 text-hover-primary fw-bolder">{{FILE.name}}</a>
                            <!--end::Title-->
                          </div>
                          <!--end::Wrapper-->
                          <!--begin::Action-->

                          <!--end::Action-->
                        </div>
                        <!--end::Info-->
                        <!--begin::Customer-->
                        <div class="d-flex flex-stack">
                          <!--begin::Name-->
                          <span class="text-gray-400 fw-bolder">Size:
                            <a href="#" onclick="return false;"
                              class="text-gray-800 text-hover-primary fw-bolder">{{FILE.size}} KB</a></span>
                          <!--end::Name-->
                          <!--begin::Label-->
                          <span class="badge badge-light-success">Activo</span>
                          <!--end::Label-->
                        </div>
                        <!--end::Customer-->
                      </div>
                      <!--end::Item-->
                    </ng-container>


                  </div>
                  <!--end::Scroll-->
                </div>
                <!--end::Body-->
              </div>
            </div>
          </div>

        </div>
        <!--end::Card body-->

        <!--begin::Card footer-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button type="button" (click)="save()" class="btn btn-primary" id="kt_project_settings_submit">
            Guardar
          </button>
        </div>
        <!--end::Card footer-->
        <input type="hidden" />
      </form>
      <!--end:Form-->
    </div>

  </div>
  <div class="col-6">
    <!-- la lista  de las secciones relacionadas con  el curso-->
    <div class="card card-custom card-stretch gutter-b">
      <!--begin::Header-->
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label font-weight-bolder text-dark">Lista de las clase de la seccion</span>
          <span class="text-muted mt-3 font-weight-bold font-size-sm">Class</span>
        </h3>
        <div class="card-toolbar">


        </div>
      </div>
      <!--end::Header-->

      <!--begin::Body-->
      <div class="card-body pt-2 pb-0 mt-n3">
        <div class="tab-content mt-5" id="myTabTables5">

          <!--begin::Tap pane-->
          <div class="tab-pane fade show active" id="kt_tab_pane_5_3" role="tabpanel" aria-labelledby="kt_tab_pane_5_3">
            <!--begin::Table-->
            <div class="table-responsive">
              <table class="table table-borderless table-vertical-center">
                <thead>
                  <tr>
                    <th class="p-0 w-50px"></th>
                    <th class="p-0 min-w-150px"></th>
                    <th class="p-0 min-w-140px"></th>
                    <th class="p-0 min-w-110px"></th>
                    <th class="p-0 min-w-50px"></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of CLASES;let i =index">

                    <tr>
                      <td class="py-2 pl-0">
                   <div class="symbol symbol-50px me-2">
																		<span class="symbol-label">
																			<img src="assets/media/svg/brand-logos/vimeo.svg" class="h-50 align-self-center" alt="">
																		</span>
																	</div>
                      </td>
                      <td class="pl-0">
                        <a href="#"
                          class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">{{item.name}}</a>
                        <span class="text-muted font-weight-bold d-block">Seccion {{i +1}}</span>
                      </td>
                      <td class="text-right d-flex flex-column">
                        <span class="text-muted font-weight-500" *ngIf="!item.time">
                          0
                        </span>
                        <span class="text-muted font-weight-500" *ngIf="item.time">
                        {{item.time}}
                        </span>
                        <span class="fw-bolder text-dark">
                          Duracion
                        </span>
                      </td>
                      <td class="text-right">
                        <div class="badge badge-light-success fw-bolder" *ngIf="item.state === 1">Activo</div>
                        <div class="badge badge-light-danger fw-bolder" *ngIf="item.state === 2">Desactivo</div>

                      </td>
                      <td class="text-right pr-0 d-flex">




                        <a href="#" onclick="return false;"
                          class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                          (click)="editClases(item)">
                          <!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
                          <span class="svg-icon svg-icon-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none">
                              <path opacity="0.3"
                                d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z"
                                fill="currentColor" />
                              <path
                                d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z"
                                fill="currentColor" />
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </a>
                        <a href="#" onclick="return false;"
                          class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm" (click)="deleteClases(item)">
                          <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                          <span class="svg-icon svg-icon-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none">
                              <path
                                d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z"
                                fill="currentColor" />
                              <path opacity="0.5"
                                d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z"
                                fill="currentColor" />
                              <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z"
                                fill="currentColor" />
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </a>
                      </td>
                    </tr>
                  </ng-container>


                </tbody>
              </table>
            </div>
            <!--end::Table-->
          </div>
          <!--end::Tap pane-->
        </div>
      </div>
      <!--end::Body-->
    </div>
  </div>
</div>
